/*  your css code here. If applicable */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4ded4;
}

.container {
    width: 1100px;
    margin: 0 auto;
    background-color: #c5cec5;
    padding: 10px;
}

.imageContainer img {
    width: 100%;
    border: 2px solid #777;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #e7efe7;
}

td {
    padding: 10px;
    vertical-align: top;
    border: 1px solid #666;
}

td img {
    width: 100%;
    border: 2px solid #333;
}

.textCol {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}
